.card{
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  width: 20%;
  background-color: wheat;
  text-align: center;
  
}
.heading{
  font-size: 50px;
  letter-spacing: 5px;
  color: wheat;
}
form{
  /* border: 2px solid red; */
  /* width: 60%; */
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  /* color: white; */
}
input{
  border: none;
  border-bottom: 3px solid wheat;
  outline: none;
  background-color: rgb(12, 3, 92);
  font-size: 40px;
  font-weight: bold;
  width: 25%;
  color: wheat;
}
.box{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
button{
  padding: 7px;
  border: none;
  font-size: large;
  background-color: wheat;
  margin-left: 1rem;
  border-radius: 30px;

}
body{
  background-color: rgb(12, 3, 92);
  font-family: 'Times New Roman', Times, serif;

}
span{
  font-size: 40px;
  color: wheat;
}